body {
  text-align: center;
  background-color: yellow;
  color; black;
}
h1 {
font-family: Helvetica; font-size: 50pt; border: 10px solid white;
}
h2 {
  font-family: Helvetica; font-size: 30 pt;
}
